<!DOCTYPE html>

<html>
<head>
    <title>Event Registration</title>
        <style type="text/css">
             body {
                background:yellow; 
            }
            .container {
                background: green;
                text-align:center;
                position:absolute;
                top: 10%;
                left:40%;
                transform: translateX()translateY()
        }
        </style>
</head>
<body>
<form method="POST"> 
<div class ="container">
  {% csrf_token %}
  <h1>Event Registration</h1>
  Name of the event:<br> 
  <input type="text" name="event_name"> 
  <br><br> 
  From(DD/MM/YYYY):    
  <input type="date" name="from_date"> 
  Time: 
  <input type="time" name="from_time"> 
  <br><br> 
  To(DD/MM/YYYY):
  <input type="date" name="to_date"> 
  Time:
  <input type="time" name="to_time"> 
  <br><br> 
  Deadline(YYYY-MM-DD):
  <input type="date" name="deadline"> 
  <br><br>
  Description:<br> 
  <textarea rows = "5" cols = "50" name = "description"></textarea>
  <br><br>
  Link of the poster:<br> 
  <input type="text" name="poster_link"> 
  <br><br> 
  Host email id:<br> 
  <input type="text" name="host_id"> 
  <br><br> 
  Host password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit"> 
  <br><br>
  <a href="{% url 'home' %}">Back to homepage</a>
</div>
</form>  
</body>
</html>