<!DOCTYPE html>

<html>
<head>
    
    <title>Participant Registration</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <h1>Participant Registration</h1>
    Name:<br> 
    <input type="text" name="part_name"> 
    <br><br>
    Contact Number:<br> 
    <input type="text" name="contact"> 
    <br><br>
    Email id:<br> 
    <input type="text" name="email_id"> 
    <br><br>
    Name of the event:<br> 
    <select name="event">
        {% for event_name in events %}
            <option>{{ event_name }}</option>
        {% endfor %}
    </select> 
    <br><br>
    Select participation type:<br>
    <input type="radio" name="type" value="Individual" onclick="func()"> 
    <label for="Individual">Individual</label><br> 
    <input type="radio" name="type" value="Group" onclick="func1()"> 
    <label for="Group">Group</label>
    <br><br>  
    Number of participants:<br>
    <select name="people" id="people">
        {% for i in range %}
            <option>{{ i }}</option>
        {% endfor %}
    </select> 
    <br><br>
    <script>
        function func() {
            document.getElementById("people").disabled = true;
        }
        function func1() {
            document.getElementById("people").disabled = false;
        }
    </script>
  <input type="submit" value="Submit">
  <br><br>  
  <a href="{% url 'home' %}">Back to homepage</a>
</form>
</body>
</html>